/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
  min-height: 100vh;
  background: purple;
  /* background: linear-gradient(135deg, #6a11cb, #2575fc); */
  display: flex;
  justify-content: center;
  align-items: center;
}


.header h1{
 color: white;
 /* display: flex; */
 font-family: "Playfair Display", serif;
 padding: none;
 margin: 0;
}

.header p{
 color: white;
 font-family: "Playfair Display", serif;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 360px;
  text-align: center;
}


/* LINKS */
.links a {
  display: block;
  text-decoration: none;
  background: white;
  color: black;
  padding: 12px;
  width: auto;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease;
  border: 1px solid black;
  font-family: "Playfair Display", serif;
}

.links a:hover {
  background: none;
  color: white;

}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
